<h1>Parcel Service!</h1>
<form action="/results">
  <div class="form-group">
    <label>Enter the dimensions and weight of your package:</label>
    Length
    <input id="length" name="length" class="form-control" type="text">
    Width
    <input id="width" name="width" class="form-control" type="text">
    Height
    <input id="height" name="height" class="form-control" type="text">
    Weight
    <input id="weight" name="weight" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
