<h1>Parcel Service!</h1>
<form action="/results">
  <div class="form-group">
    <label>Enter the dimensions and weight of your package:</label>
    <br />
    Length
    <input id="length" name="length" class="form-control" type="number" min="1" max="120" value="1">
    <!--<input type="number" name="quantity" min="1" max="5">-->
    Width
    <input id="width" name="width" class="form-control" type="number" min="1" max="120" value="1">
    Height
    <input id="height" name="height" class="form-control" type="number" min="1" max="120" value="1">
    Weight
    <input id="weight" name="weight" class="form-control" type="number" min="1" max="120" value="1">
    <br />
    <input id="gift_wrap" name="gift_wrap" class="form-control" type="checkbox" value="false"> Do you want gift wrap?
    <br /><br />


    <input id="destination" name="destination" class="form-control" type="checkbox">
    Is the destination international?
    <br /><br />
    Shipping method:
    <!--<input id="priority" name="priority" class="form-control" type="text">-->
    <select id="priority" name="priority" value="Standard">
      <option name="standard" value="standard">Standard</option>
      <option name="twoday" value="twoday">Two Day</option>
      <option name="overnight" value="overnight">Overnight</option>
    </select>
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
